button, a {
	outline:0;
}

.btn { 
	font-family: $primary-font-light;
	letter-spacing: 1px;
	font-size: 0.9rem;
	padding: .9em 1.5em;
	border-radius: 4px;
	font-weight: 100;  
	text-decoration: none; 

	&:focus{
        outline: none;
        box-shadow: unset;
    }

	@include media-breakpoint-down(sm) {
		width: 100%;
	}

	&.btn-link {
		color:  $primary-color;
		font-family: $primary-font-bold;
		text-decoration: underline !important; 
		padding: 0;
		font-size: 1em;
		
		&:hover {
			color: $primary-text-color;
		}
	}

	&.btn-collapse {
		font-family: $primary-font-bold;
		padding: 1em 3em 1em 0;
		position: relative;

		&:after {
			content: '-';
			font-size: 1.8em;
			position: absolute;
			right: .5em;
			top: 50%;
			transform: translateY(-50%)
		}

		&.collapsed:after  {
			content: '+';
		}
	}

	&.btn-nav {
		border: unset;
		background: unset;
		border-radius: unset;
		padding: .5em 0;

		&.active {
			position: relative;
			font-family: $primary-font-bold;

  			&:after {
  				content: '';
  				position: absolute;
  				border-bottom: 3px solid $primary-text-color;
  				width: 90%;
  				left: 0;
  				bottom: 0;
  			}
		}
	}

	&.play-btn {
	    color: inherit !important; 
	    padding-left: 1.5em; 
        position: relative;
        outline: none;
        width: auto !important;
    
	    &:before {
            position: absolute;
            left: 0;
            top: 50%; 
            transform: translateY(-50%);
	        content: '';
	        height: 0;
	        width: 0; 
	    	border-color: transparent transparent transparent $primary-bg-color;
			cursor: pointer;
		  	border-style: solid;
		  	border-width: .5em 0 .5em .8em;
	    }
	}


	&.btn-pill {
		padding: 2px 3px;
		text-transform: uppercase; 
		background: $primary-color;
		color: $primary-bg-color;
		font-size: .6rem;
		width: auto;

		&:hover {
			background: $primary-color-light; 
		}
	}
	
	@include media-breakpoint-up(md) {
		+ .btn:not(.btn-pill) {
			margin-left: 2em;
		}
	}

	i {
		line-height: 1.2;
    	padding-left: 15px;
		position: relative;
		display: inline;

		&:before {
			position: absolute;
			left: 8px;
			font-size: 1.3em;
		}
	}

	&.btn-primary {
		background: $primary-color;
		color: $primary-bg-color; 
		border: none; 
		
		i {
			color: $primary-bg-color;
		}

		&:hover, &:focus  {
			background: $primary-color-light; 
		}
		
	   
	}

	&.btn-secondary {
		color: $primary-text-color;
		background-color: $secondary-color;
		border: none;

		&:hover, &:focus {
			background-color:  darken($secondary-color, 20%);
		}
	}

   
}    