
.page-content {
	padding: 60px 0 0;
	min-height: 600px;
	overflow: hidden;

	.logo_grid {
		text-align: center;
		
		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
   		 	max-width: 100%;

			.logo img {
				width: 100px;
		   		padding: 0 1em;
		   	}	
	   	}	
	}
}

body.page-template-default {
	article.page-content {
		//overflow-x: unset;
	}
}
