
form {

    .contact &.wpcf7-form {
        background: rgba($primary-color, 0.2);
        width: 100%;

        h2 {
            padding-bottom: .6em;
        }

        [type="submit"] {
            float: right;
            padding: 5px 12px;
        }

        textarea {
            height: 130px;
        }
    }

    .content & {
        padding: 2em 0 4em;
    }
    
    &.inline-search, &.single-input {
        position: relative;
        background: none; 
        padding: 0; 
        
        input[type="submit"] {
            position: absolute;
            top: 6px;
            width: auto;
            right: 0;
            padding: 4px 25px;
            margin: 0;
        }
    }

    input, 
    textarea {
        margin: 6px 0;
        padding: .9em 1.5em;
        border: 1px solid rgba(0,0,0,.1);
        width: 100%;
        border-radius: 8px;
        font-size: .9em;
        
        &[type="checkbox"]{
            width: auto;
        }

        &::placeholder {
            color: rgba($primary-color, 0.5);
        }

        &:focus::placeholder {
            color: $primary-color;
        }

        &.wpcf7-submit {
            margin-top: 0.8em;
            width: auto;
            float: right;
        }
    }

    .wpcf7-form-control-wrap {
        display: inline-block;
        width: 100%;
        
        & + .wpcf7-form-control-wrap{
            margin-left: 2%;
        }

        &.user-name, 
        &.user-email{
            width: 49%;
        }

        &.acceptance-terms {
            width: auto;
        }
    }
    
    input[type="date"] {
        -moz-appearance: textfield;
    }
    
    p {
        margin-bottom: 5px;
        color: $primary-color;
        font-size: 1.0rem;
    }

    span.wpcf7-list-item {
        margin: 0;
        padding: 0 1em 0 0;
    }

    span.wpcf7-not-valid-tip{
        font-size: 0.7em;
        line-height: 1.2em;
        margin-top: -1px;
        margin-bottom: -18px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -3px;
    }

    div.wpcf7-response-output {
        font-size: 0.6em;
        line-height: 1.3em;
        color: #000;
        background: rgba(255, 7, 7, 0.2);
        position: absolute;
        bottom: 10px;
        left: 6%;
        width: 85%;

        &.wpcf7-validation-errors {
            background: rgba(255, 193, 7, 0.2);
        }
        &.wpcf7-mail-sent-ok {
            background: rgba(7, 255, 7, 0.2);
        }
    }
}


.ui-autocomplete {
    display: block !important;
    z-index: 1100;
    border: 1px solid rgba($primary-text-color,.1);
    margin-top: -1px;
    
    li.ui-menu-item {
        padding: .5em .5em;
        font-size: .8rem;
        border: unset;
        cursor: pointer;
        
        &:hover {
            color: $primary-color;
            background: $tertiary-bg-color;
        }
        
        .logo {
            height: 40px;
            width: 60px;
            display: inline-block; 

            img {
                height: 40px;
                width: auto;
            }
        }
    }
}
