header.site-header {

	#main-nav.navbar {
		background: $primary-bg-color;
    	border: none;
		top: 0;
    	transition: top 0.3s, background 0.5s;
		padding: .5rem 0;

		// &.transparant {
		// 	background: none;
  //   	}

		.admin-bar & {
			top: 32px;
		}

		&.scroll-down {
			top: -100%; 

			@include media-breakpoint-up(md) {
				top: -100%; 
			}	
		}

		.menu-toggler {
			color: $primary-text-color;
			padding-right: .5em;

			button.navbar-toggler {
				border: none;
				font-size: 1em;
				font-size: 0.9rem;
				outline: none; 
				padding: .65rem .75rem .25rem;

				.navbar-toggler-icon {
					filter: invert(100%);
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='" +  rgba($primary-bg-color, 1) + "' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
				
				}
			}
		}

		.brand-wrapper {
			text-align: center;
		    display: inline-block;
		    z-index: 22;
		    -ms-transform: scale(.85);
		    transform: scale(.85);
			
			@include media-breakpoint-down(md) {
		        margin: auto;
		    }

		    img {
		    	height: 55px;
		    }

		}

		> .container {
			max-width: 100%;
			justify-content: left;
		}
		
		button#search-collapse {
			width: auto;
			transition: background 300ms ease;
			font-size: .8rem;
    		padding: .5em 1em .5em 0;
			
			i:before {
				left: 7px;
    			font-size: 1.2em;
			}

			&[aria-expanded="true"] {
				background: lighten( $primary-color, 30% );

				i:before {
					content: 'X';
					font-family: 'sans-serif';
					left: 8px;
					font-size: 1.3em;
				}
			}
		}

		form {
	        flex: 1 0 auto;
	        max-width: 800px;
	        width: 100%;
			
			@include media-breakpoint-up(md) {
	            margin-left: 3em;
	            width: auto;
	            max-width: 360px;
			}

	        input {
	            padding: 0 1em;
	            height:40px;
	            margin: 0;
	            width: calc(100% - 35px);
	            border-top-right-radius: 0;
	            border-bottom-right-radius: 0;
	            outline: none;
	            color: darken($secondary-color, 40%);
	        }

	        button { 
	            display: inline-block;
	            margin-top: -3px;
	            width: 35px;
	            height: 40px;
	            padding: 0;
	            border-top-left-radius: 0;
	            border-bottom-left-radius: 0;
	            background: $secondary-color;

	            i:before {
	            	position: absolute;
				    left: 2px;
				    top: -2px;
				    font-size: 1em;
				    color: darken($secondary-color, 30%);
	            }
	        }
	    }

	}

}


