.review_container { // Big container
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 3%;

	@media (max-width: 425px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 3%;
	}
}


.review-grid {
	.mr-auto {
		font-family: $primary-font-bold;
		font-size: 1.25em;
		margin: 0 auto;
	}

	.reviews { // Individual containers for reviews
		text-align: center;
		padding-bottom: 2.5em;

		* {
			margin: 0;
		}

		.rev_date {
			margin: 0 0 8px 0;
			font-size: .9em;
		}

		.fa-star:before,
		.fa-star-half:before {
			font-size: 1.5em;
			color: #000; // #0055b8;
			letter-spacing: 6px;

			@media (max-width: 995px) {
				font-size: 1em;
				color: #000; // #0055b8;
				letter-spacing: 4px;
			}

			@media (max-width: 464px) {
				font-size: .75em;
				color: #000; // #0055b8;
				letter-spacing: 2px;
			}
		}

		.rev_name {
			display: block;
			margin: 8px 0 8px 0;
		  	font-family: $primary-font-bold;
		  	font-size: 1em;
		  	text-transform: capitalize;

		  	@media (max-width: 995px) {
				font-size: .9em;
			}
		}
		
		[itemprop="reviewBody"] {
			margin-bottom: auto;

		}
		[itemprop="reviewBody"]::first-letter {
			text-transform: capitalize;
		}

	}
}
