section.team-members {
	
	.container > .row {
		justify-content: center;

		.team-member {
			padding: 1em 0;
			text-align: center; 

			img {
				height: 150px;
			}

			h4 {
				margin: .5em 0 0;
				font-family: $primary-font-medium;
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

