video {
    max-width: 100%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    //padding-top: 25px;
    height: 0;
    transition: padding 500ms ease;
    
    &:not(.playing){
        height: 400px;
        padding: 0;
    }
    
    .btn.play-btn {
        font-size: 1rem;
        text-shadow: 1px 1px #000;
    }
    
    iframe {
        display: none;
    }

    img {
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 1;
        z-index: 10;
        transition: all 1s;
    }

    &.playing {
        img {
            opacity: 0;
            z-index: -1; 
        }

        iframe {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}   

.video-inline {
    position: relative;
    overflow: hidden;
    
    .video-wrapper { 

        .video-overlay {
            display: none;
        }

        &:not(.playing) {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .video-overlay {
                display: block;
                position: absolute;
                z-index: 15;
                bottom: 20%;
                left: 10%;
                color: $primary-bg-color;
                
                h2 {
                    font-size: 3rem; 
                    width: 600px;
                    max-width: 100%; 
                    cursor: pointer;

                    @include media-breakpoint-down(sm) {
                        font-size: 1.2rem;
                        width: 300px;
                    }

                }

            }

            // &:after {    
            //     content: '\f144';
            //     font-family: FontAwesome;
            //     color: #fff;   
            //     position: absolute;
            //     font-size: 3em; 
            //     width: 50px;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%,-50%);
            //     z-index:12;
            //     cursor: pointer;
            // }

            &:before {
                content: '';
                position: absolute;
                width:100%;
                top: 0;
                left: 0; 
                bottom: 0px;
                background: rgba(0,0,0,0.2);
                z-index:11;
                cursor: pointer;
            }
        }
    }    
}
