/* Defining the color palet */

$primary-color: #3e9b92;
$primary-color-light: lighten($primary-color, 30%);
$secondary-color: #dedede;

$primary-text-color: #000;

$primary-bg-color: #fff;
$secondary-bg-color: #0085A3;
$tertiary-bg-color: #E2F2F7;
