
// Main navigation 
.navbar-collapse {
	border: none; 
	transition: width 0.6s, height .001s;	
	width: 100%;

	@include media-breakpoint-up(lg) {
		margin-left: 40px;
	}


	.nav-wrap {
		display: flex;
	    flex-grow: 1;
	}    

	@include media-breakpoint-down(sm) {
		top: 0px;
		position: absolute;
		right: 0;
		width: 0;
		height: 100vh;
		z-index: 4;
		overflow: hidden;
		padding: 0;

		.nav-wrap {
			padding: 0 3.2rem; 
			min-width: 300px; 
			max-width: 100%; 
			display: block;
		}
	
		&.collapsing,
		&.collapse.show {
			background: $background-gradient-black;
			z-index: 6;
			padding: 0 0 25px;
			overflow: scroll;
			
			.close-btn {
				padding: 0.5rem 1rem;
				background: $background-gradient-black;
				
				button {
					color: $primary-bg-color;
					padding: 1rem;
					margin-left: -4%!important;
					margin-right: -0.5rem;
				    line-height: 0.7em;
   					font-size: 2em;
				    opacity: 1;
				}
			}
			
			a{
				color: $primary-bg-color;
			}	

			hr {
				border-color: $primary-bg-color;
			}
			
			ul.nav {
				padding-top: 25px;
				min-width: 300px;

				li {
					padding: 1em 0;

					&.show {
						background: none;
					}

					a {
						color: $primary-bg-color;
						display: inline-block;
						font-family: $primary-font;
						font-size: 1.5em;
						
						&:after {
							transition: all 200ms;
						}

						&[aria-expanded="true"]:after {
							transform: rotate(-180deg);
						}

						&.active {
							color: darken( $primary-bg-color ,45%);
						}
					}

					.dropdown-menu {
						background: none;
						padding-left: 1.5em;   
						background: none;
						.dropdown-item, .dropdown-toggle {
							padding: .2em 0;
							font-size: 1.5em;
						}
					}	

				}
			}

		}
	
		&.collapse.show {
			width: 100vw;
			height: 120vh;
		}
	}	

	.nav {
		padding: 0;
		margin-left: 1rem;
			
		li {
			
			padding: 0.4em 1em;

			@include media-breakpoint-down(lg) {
				padding: .4rem .5rem;
			}
			
			@include media-breakpoint-up(md) {
				&:hover {

					> .dropdown-menu {
						display: inherit;
					}
				}

				a {
					font-family: $primary-font;
					font-size: .9rem;
					color: #fff;/*#fbee00;*/

					@include media-breakpoint-up(lg) {
						padding-left: 1.5rem;
					}

					&:hover {
						color: #fff/*darken( $primary-color, 20%)*/;
						background: none; 
					}

					&:focus {
						text-decoration: underline;
					}
				}
			}

			.dropdown-menu {
				margin: 0; 
				padding: 5px 0 8px;
				border-radius: 0;
				border: none; 
				background: $primary-bg-color;
				font-family: $primary-font;

				.dropdown-item, .dropdown-toggle {
					background: none;
					
					&:hover > a {
						background: none;
					}

					&.active {
						color: $primary-color;
					} 
				}
				
				@include media-breakpoint-up(md) {
					.dropdown-toggle:hover + .dropdown-menu,
					.dropdown-menu:hover {
					  display: inherit;
					}
				}

				.dropdown-menu {
					padding-left: 10px; 
					position: relative;
					background: $primary-bg-color; 
					
					@include media-breakpoint-up(md) {
						position: absolute; 
						left: 100%; 
						top: 10px; 
						padding-left: 0px; 
					}	
				}

			}

			&.active a {
				color: #fff;
				text-decoration: underline;
			}

		}
		
		@include media-breakpoint-up(md) {
			.show {
				background: $primary-bg-color;
		
				> .dropdown-toggle::after{
				    transform: rotate(-180deg);
				}
			} 
		}
	}		
}



// single page navigation
.single-nav-links {
	border-bottom: 1px solid $primary-color; 
	font-size: 0.8em;
	margin-bottom: 20px;
	padding-bottom: 5px;
	
	&.bottom {
		border-top: 1px solid $primary-color; 
		padding-top: 5px;
		margin-top: 40px;
		border-bottom: none;
	}

	a {
		color: $primary-color;
	}

	.post-links a + a {
		margin-left: 20px;
	}
}

