.carousel {
    width: 100%;
    padding-bottom: 3rem;
    overflow: hidden;

    &.multi-item-carousel .carousel-inner {
        .carousel-item {
            transition: transform 0.8s ease, opacity 1s ease;
            width: 250%;
            transform: translate(-50%);
            left: 50%;
            max-width: 2300px;

            @include media-breakpoint-up(sm) { 
                width: 200%;
            }

            article {
                .row {
                    height: 400px;
                    background: $primary-bg-color;
                    margin:0;
                    padding: 0;

                    @include media-breakpoint-up(sm) { 
                        padding: 2em;
                        height: 350px;
                    }

                    .image {
                        text-align: center; 

                        img {
                            width: 60%;
                            @include media-breakpoint-up(sm) { 
                                width: 100%; 
                            }
                        }    
                    }

                    .content {
                        text-align: left; 
                        position: relative; 
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }

                &:not(:nth-child(2)){
                    opacity: 0.6; 
                }
            }  

            &.carousel-item-next.carousel-item-left {
                article:not(:last-child){
                    opacity: 0;
                }
            }    

            &.carousel-item-prev.carousel-item-right {
                article:not(:first-child){
                    opacity: 0;
                }
            }

            &.active {
                display: flex;

                &.carousel-item-left {
                    article {
                        opacity: 0.6; 
                        &:last-child {
                            opacity: 1;
                        }
                    }    
                }

                &.carousel-item-right {
                    article {
                        opacity: 0.6; 
                        &:first-child {
                            opacity: 1;
                        }
                    }
                    
                }
            }

            
            
            &.carousel-item-right.active,
            &.carousel-item-next {          
                transform: translateX(-16.67%);
            }

            &.carousel-item-left.active, 
            &.carousel-item-prev {
              transform: translateX(-83.33%)
            }

            &.carousel-item-right,
            &.carousel-item-left{ 
                transform: translateX(-50%);
                display: flex;

                article {
                    transition: opacity 0.6s ease;
                }
            }     

        }
    }

    .carousel-controls {
        position: relative; 
        bottom: -2em;
        display: flex;
        justify-content: center;

        .carousel-indicators {
            position: relative; 
            margin: 1.3em 2em;
            li {
                pointer-events: none;
                width: 10px; 
                height: 10px;
                border-radius: 10em;
                border: 1px solid $primary-color;
                text-indent: 200vw;

                &.active {
                    background: $primary-color; 
                }
            }
        }

        .control-btn{
            border: 1px solid $primary-color;
            width: 30px;
            height: 30px; 
            border-radius: 10em;
            display: block;
            position: relative;

            &.control-next i {
                left: 55%;
                top: 49%;
            }

            i {
                position: absolute; 
                left: 49%;
                top: 49%;
                transform: translate(-50%, -50%);
                line-height: 10px;
                color: $primary-color;
            }
        }
    }   
}

#productCarouselLarge {
    .carousel-item {
        transition: transform .9ms ease, opacity 1s ease;
        opacity: 0;
        text-align: center;
            
        @include media-breakpoint-up(sm) {
            text-align: left;
        }

        &.active {
            opacity: 1;
        }
        
        .image img {
            max-width: 50%;

            @include media-breakpoint-up(sm) {
                max-width: 90%;
            } 
        }

        .product-info {
            display: flex;
            align-items: center;

            .content {
                width: 100%; 
                

                h2 {
                    font-size: 1.2em;

                    @include media-breakpoint-up(sm) {
                        font-size: 1.6rem;
                    }
                }
            }

            .description {
                display: none; 

                @include media-breakpoint-up(sm) {
                    display: inline-block;
                }
            }

            .price {
                font-family: $primary-font-bold;
                font-size: 1.1em;
                display: inline-block;
                width: 100%;
                    
                @include media-breakpoint-up(sm) {
                    display: inline;
                    font-size: 1.5em;
                }

                & + div {
                    display: inline; 

                    a {
                        margin-top: -1em;
                    }
                }


            }

            .button {
                margin: .8em auto 0;

                @include media-breakpoint-up(sm) {
                    margin: 2em 0 0;
                }  
            }
        }
        
       
        
    }
    
    .carousel-controls {
        @include media-breakpoint-up(sm) {
            justify-content: left;
        }

        .carousel-indicators {
            @include media-breakpoint-up(sm) {
                margin-left: -8px;
                margin-top: 0;
            }

            li {
                text-indent: 0;
                width: auto;
                height: auto;
                border: none; 
                color: #0055b8;
                padding: 0.2em 0.5em;
                margin: 0 0.4em;
                border-radius: 4px; 
                pointer-events: initial;
                white-space: nowrap;
                &.active {
                    background: none;
                    box-shadow: 0px 0px 21px -6px rgba(0,85,184,1);
                }

            }
        }    
    }    
}

#videoCarousel{
    width: 100%;
    margin: auto;
    max-width: 1200px;
}