
.review_container { // Big container
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 3%;

	@media (max-width: 425px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 3%;
	}

	@include media-breakpoint-down(sm) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}
}


.review-grid {
	.mr-auto {
		font-family: "Encode Sans Narrow SemiBold";
		font-size: 1.5em;
		margin-bottom: 2.5em;
	}

	.reviews { // Individual containers for reviews
		text-align: center;
		padding-bottom: 2.5em;

		@include media-breakpoint-down(sm) {
			&:last-child,
			&:nth-child(3n) {
				display: none;
			}
		}

		* {
			margin: 0;
		}

		.rev_date {
			margin: 0 0 8px 0;
			font-size: .9em;
			text-align: center;
		}

		.fa-star:before,
		.fa-star-half:before {
			font-size: 1.5em;
			color: #0055b8;
			letter-spacing: 6px;

			@media (max-width: 995px) {
				font-size: 1em;
				color: #0055b8;
				letter-spacing: 4px;
			}

			@media (max-width: 464px) {
				font-size: .75em;
				color: #0055b8;
				letter-spacing: 2px;
			}
		}

		.rev_name {
			display: block;
			margin: 8px 0 8px 0;
		  	font-family: "Encode Sans Narrow SemiBold";
		  	font-size: 1.2em;

		  	@media (max-width: 995px) {
				font-size: .9em;
			}
		}
		
		[itemprop="reviewBody"] {
			@media (max-width: 770px) {
				font-size: .9em;
			}
		}

		[itemprop="reviewScore"] {
				font-size: 1.2em;
				margin-top: 2px;
				margin-right: 6px;
				color: #c0ac00;
		}

	}
}

.kiyoh_stamp {
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
	width: 35%;
	margin: 0 auto;
	background-color: white;

	@media (max-width: 994px) {
		width: fit-content;
	}
}

.kiyoh_stamp h2 {
	color: #c0ac00;
	margin-top: 22px;
}

.p_grey {
	color: grey;
}

.p_underline {
	text-decoration: underline;
}

.p_underline:hover {
	color: #000;
}

.kiyoh_stamp p {
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}

.kiyoh_logo {
	height: 3em;
	width: auto!important;
	margin-bottom: 25px;
	margin-left: 5px;
}