
.mailchimp_form {
    padding-top: 2em;

    h2 {
        font-family: $primary-font-bold;
        text-transform: unset;
    }
}

.mc-signup {
    text-align: center;

    h2 {
        margin-bottom: 1.2em;
    }
}


#mc_embed_signup form {
    padding: 0;

    .mc-field-group {
        width: 100%;
        display: inline-block;
        position: relative; 

        @include media-breakpoint-up(sm) {
            width: 30%;
            padding-right: 0.8em;
        }

        input {
            padding: 12px 15px 16px; 
        }

        div.mce_inline_error {
            position: absolute;
            font-size: 0.7em; 
            background: none; 
            color: red;
            top: -1em;
            padding: 0; 
            left: 0;
        }
    }

    button {
        display: inline-block; 
    }

    #mce-responses {
       font-size: 0.7em; 
        height: 3em;
    }


    .textwidget & {
        padding: 2px 0 0;

        .mc-field-group {
            width:100%;
            max-width: 260px;
            position: relative;
            
            input {
                border: 2px solid darken($tertiary-bg-color, 40%);
                background: none;
                color: $secondary-color;

                &::placeholder {
                    font-size: .8rem;
                    font-style: italic;
                    color: darken($tertiary-bg-color, 20%);
                }
            }

            button.btn { 
                background: $primary-color;
                right: .6rem;
                top: 6px;
                height: calc(100% - 12px);
                color: $secondary-color;
                font-family: $primary-font-bold;
                border: 2px solid darken($tertiary-bg-color, 40%);
                padding: .59rem;
                border-radius: 0 .5rem .5rem 0;

                @include media-breakpoint-down(xs) {
                    border-radius: 8px;
                }
                
                @include media-breakpoint-up(md) {
                    position: absolute; 
                }

                &:hover {
                    background: $secondary-color;
                    color: $primary-color;
                }
            }
        }

        #mce-responses {
            line-height: 1.5em;
        }
    }
}
