* {
	outline: none;
}

form.inline-search input {
	border-radius: 6px;
	width: 92%;
}

form.search-form input[type="submit"] {
	height: 54px;
	width: 136px;
	font-size: 1em;
	top: 0px!important;
	right: 0px!important;
	border-radius: 1px 6px 6px 1px;

	@include media-breakpoint-down(sm) {
		width: 98px;
	}
}
