.woocommerce ul.products {
	justify-content: space-between;
	margin: 0;
	
	@include media-breakpoint-down(sm) {
		columns: 2;
		column-gap: .3rem;		
	}

	li.product {
		text-align: center;
		width: 100%;
   		margin: 0 0 2rem 0;
		
		@include media-breakpoint-down(sm) {
			min-width: 100%;
			max-width: 100%; 	
		}

		@include media-breakpoint-down(md) {
			float: none;
			page-break-inside: avoid;
			break-inside: avoid;
			list-style-position: inside;
			margin: 0 0 1rem;
		}

		a {
			text-align: center;
			
			img {
				width: 80%;
				max-width: 150px;
				padding: 1rem 0;
				display: inline-block;
				margin: 0;
			}

		}

		h2 {
			padding-bottom: 5px;
			font-size: 1.5rem;
			margin: 0 auto!important;
			text-align: left;
			width: 80%;
			min-height: 54px;

			@include media-breakpoint-down(xs) {
				font-size: 1rem;
				height: 54px;
			}
			
			@include media-breakpoint-down(sm) {
				font-size: 1rem;
			}
			
			&.woocommerce-loop-product__title.shop-title {
				font-size: 1.5rem;

				@include media-breakpoint-down(sm) {
					font-size: 1rem;
				}

			}

			@include media-breakpoint-up(md) {
				min-height: 3.375rem;
				font-size: 1.25rem;
				width: 80%;
				min-height: 54px;
			}
		}


		span.onsale {
			@include media-breakpoint-down(sm) {			
				display: none;
			}
		}	

		p.tiny-desc {
			line-height: 1.3rem;
    		font-size: .9rem;
			text-align: left;
			min-height: 6em;
			margin: 0 auto;
			padding-bottom: 1em;

			@include media-breakpoint-down(md) {
				color: lighten($primary-color-light, 40%);
				font-family: $primary-font-light;
			}
			
			@include media-breakpoint-up(sm) {
				min-height: 4em;
			}
			
			@include media-breakpoint-up(md) {
				min-height: 2em;
			}
			
		}

		a:hover .woocommerce-loop-product__title {
			color: $primary-text-color;
		}

		.price {
			width: 80%;
			margin: 0 auto;
			text-align: left;
			font-size: 1.1rem;

			@include media-breakpoint-down(xs) {
				width: 80%;
			}

			.amount {
				color: lighten($primary-color-light, 30%);
				font-family: $primary-font-light;
			}
		}	

		.button.add_to_cart_button {
		    margin-left: auto;
		    margin-right: auto;
		    padding: 1rem;

		    @include media-breakpoint-down(xs) {
		    	font-size: .8rem;
		    	padding: .8rem .4rem;
		    	letter-spacing: 0;
		    }  
		}

		.read-more-wrap {
			padding-top: .6em;
			display: none;
		}

	}

	.read-more-wrap {
		a {
			font-size: .9rem;
			margin-top: 0;
			padding: 0;
		}
	}
}


body:not(.post-type-archive-product) {
	.woocommerce ul.products {
		columns: 2;
		column-gap: .3rem;		

		@include media-breakpoint-up(md) {
			columns: 3;
			column-gap: .3rem;		
		}

		@include media-breakpoint-up(lg) {
			columns: 4;
			column-gap: .3rem;		
		}
		li{

			@include media-breakpoint-down(md) {
				&:nth-last-child(-n+1) {
					display: none;
				}
			}

			@include media-breakpoint-down(sm) {
				&:nth-last-child(-n+2) {
					display: none;
				}
			}
			
			p.tiny-desc {
				width: 80%;
				min-height: 5em;

				@include media-breakpoint-up(sm) {
					min-height: 4em;
				}

			}

			.button.add_to_cart_button { 
				width: 80%;
			}		
		}
	}	
}

.header_txt_gone {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

