/* Defining the color palet */

$primary-color: #000;
$primary-color-light: #313131;
$secondary-color: #fdef00;

$primary-text-color: #000;

$primary-bg-color: #fff;
$secondary-bg-color: #F9ED1A;
$tertiary-bg-color: #f8f7f8;

$product-button-blue: #5086d1;
$product-button-blue-dark: #16335c;

$background-gradient-black: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(49,49,49,1) 100%);