.cart-btn {
	width: 70px; 
	outline: none;
	display: flex;

	
	.cart-totals { 
		display: none; 
	}

	@include media-breakpoint-down(xs) {
		position: absolute;
		left: 75%;
		top: 17.5%;
		z-index: 6;
	}

	@include media-breakpoint-only(sm) {
		position: absolute;
		left: 94%;
		top: 19%;
	}

 	@include media-breakpoint-down(sm) {
 		/*display: none;

 		&:not(.empty) {
 			display: flex; 
			position: fixed;
		    bottom: 0;
		    left: 0;
		    background: #fff;
		    width: 100vw;
		    box-shadow: 0px 0px 10px -2px rgba($primary-text-color, .75);

			.cart-totals { 
				display: inline-block; 
			}	
		
		}    */
	}    

	.cart-toggler {  
	    position: relative; 
	    padding: 3px 2.3em 0 0; 
	 	background: none;
	    border: none;
	    cursor: pointer;
	    text-align: center;
	    outline:0;

	    @include media-breakpoint-down(sm) {
	    	margin: 0.8rem -1rem;
		}
	    
	    i {
	    	font-size: 1.6em;
	    	color: #fbee00;
	    	position: relative;

	    	&:before {
	    		position: absolute; 
	    		top: -1.2rem;
    			left: -.7rem;
    			color: #fff;
	    	}
	    }

	    .amount {
	    	font-family: $primary-font-bold;
	    	padding-right: 1.2em;
	    }

	    .cart-item-count {
	    	position: absolute; 
	    	top: -6px;
	    	right: 15px;
	    	display: inline-block;
			font-size: 0.6rem;
		    line-height: 0.5rem;
		    width: 14px;
		    height: 14px;
		    padding: .15rem;
			color: #000; 
			border-radius: 100%; 
			background: #fbee00;
		}
	}
}	

// Main navigation 
.cart-collapse {
	border: none; 
	transition: width 0.6s, height .001s;
	padding-left: 4em;
	top: 0px;
	position: absolute;
	z-index: 9999;
	right: 0;
	width: 0;
	height: 100vh;
	overflow: hidden;
	padding: 0; 
	flex-basis: 100%;
    flex-grow: 1;
    align-items: center;

	&.collapsing,
	&.collapse.show {
		background: $primary-bg-color;
		padding: 0 0 25px;
		overflow: scroll;
		max-width: 100vw;
		box-shadow: -12px 0px 22px -9px rgba($primary-color ,0.75);

    	.d-flex {
    		background-color: #000;
    		height: 4rem;
	    }
		
		.close-btn {
			button {
				color: #fff;
				padding: 0.93rem;
				width: 100%;
    			text-align: right;
			    line-height: 0.7em;
				font-size: 2em;
			    opacity: 1;
			    outline:0;
			}
		}

		.content {
			padding: 1.5em;
			width: 500px;
			max-width: 100vw;
			
			span.login {
				color: $primary-color;
				cursor: pointer;
				text-decoration: underline;
			}

			form#login p.status{
			    display: none;
			}


			.product_list_widget {
				padding: 0; 
				list-style: none;
				overflow: hidden; 
				background: rgba($primary-text-color, 0.05);
				margin-bottom: 0; 
				margin-top: 1em;

				li {
					border-bottom: 1px solid rgba($primary-text-color, .1);
					bottom: 0 0 1em 0;
					position: relative;
					background: white; 
					transition: margin-left 0.8s ease, max-height 0.4s ease 0.4s, padding 0.4s ease 0.4s;
					max-height: 300px; 
					padding-bottom: .8em;

					&[style="zoom: 1;"] {
						margin-left: 100%;
						width: 100%; 
						max-height: 0;
						padding: 0;
						border: none;

						.blockUI.blockOverlay {
  							display: none !important;
						}
					}
					
					a {
						text-decoration: none;
						display: inline-block;
						vertical-align: top;

						&.remove {
							font-size: 1.5rem;
						    position: absolute;
						    right: 0.3em;
						    left: unset;
						    top: 0.3em;
						    border-radius: 100%;
						    color: $primary-color !important;
						    line-height: 22px;
						    height: 1.5rem;
    						width:  1.5rem;
	 						padding-left: 1px;
	 						text-align: center;

						   	&:hover {
						   		background: $primary-color;
						   		color: $primary-bg-color !important;
						   	}
						}
					}
					
					div.cart-item-data {
						display: inline-block;

						.variation {
		 					padding-bottom: 0;
    					}
					}

					h3 {
						color: $primary-text-color;
						display: block;
						font-size: 0.8em;
						line-height: 1.6em;
						max-width: 130px;
						margin-top: .5em;
						
						@include media-breakpoint-up(sm) {
							max-width: 200px;
						}
					}

					img {
						float: none;
						width: 70px;
    					padding: 10px 10px 0;
    					display: inline-block;
					}
					
					.quantity {
						display: inline-block;
						.input-text.qty {
							width: 40px; 
							border-radius: 4px;
							padding-left: 5px;
							border: 1px solid rgba($primary-text-color, .1);
						}

						span.amount {
							font-family: $primary-font-bold;
							font-size: 0.8em;
						}
					}
				}
			}

			.cart-subtotal {
				.woocommerce-Price-amount {
					display: inline-block;
    				float: right;
				}
			}
			
			.ajax-coupon {
				padding: 1em 0;
				margin-top: 1em;
				display: inline-flex;
				justify-content: space-between;
				height: 75px;
				width: 100%;
				border-radius: 4px 4px 0 0;
				background: $tertiary-bg-color;
				border-bottom: 1px solid rgba($primary-text-color, .1);

				.btn-link {
					padding: 0 1.1em;
					width: auto;
				}
				
				#coupon-field {
					padding-right: 4rem;
					display: flex;

					@include media-breakpoint-down(xs) {
						display: grid;
					}
				} 

				#coupon_code {
					font-size: 0.8em;
					padding: 9px;
				    border-radius: 4px 0 0 4px;
				    border: 1px solid rgba($primary-text-color, .1);
				    width: 10rem;
				}
				
				#coupon-submit {
					margin-top: -3px;
					width: 8rem;
					padding: 0;
					height: 2.5rem;
					margin-top: 1px;
					border-radius: 0 4px 4px 0;
				}

			    @include media-breakpoint-down(xs) {
			    	#coupon_code {
				    	max-width: 100px;
				    }
				    
				    #coupon-submit {
						
					}

				}

			}

			.cart_totals {
				
				tr {
					vertical-align: text-bottom; 
				}
				
				ul {
					list-style: none;
				} 

				.shop_table_responsive {
					width: 100%;
					border: none;
					border-radius: 0 0 4px 4px;
					padding: 1em; 
					background: $tertiary-bg-color;
					font-size: 0.9em;
					margin: 0 0 24px 0;

					.shipping {
						border-bottom: 1px solid rgba($primary-text-color, .1);
					}

					th {
						padding: 1em;
					}

					td {
						padding: 1em;
						text-align: right;
						font-family: $primary-font-bold;
						display: grid;
					}

					.order-total {
						font-family: $primary-font-bold;
					}
					
				}
				
				.wc-proceed-to-checkout a.checkout-button.button {
			       	@extend .btn;
			      	@extend .btn-primary;
			       	width: 100%;
			       	max-width: 100%; 
			       	border-radius: 4px; 
			       	font-size: 1em;
			       	margin-top: 1em;

    			}
			}
			
			.wcppec-checkout-buttons {
				margin: 0.5em 0;
				.wcppec-checkout-buttons__separator {
					display: none;
				}
			}

			p.buttons.wcppec-cart-widget-spb {
				padding: 0;
			}	
		}
	}

	&.collapse.show {
		width: 500px;
		height: 110vh;
	}
}

.mini_cart_item .variation,
.cart_item .variation {
	padding-left: 0;
	padding-bottom: .5em;
	border-left: unset;
	font-style: italic;
	margin-bottom: .5rem;
	
	dt, 
	dd {
		font-size: .8rem;
		line-height: 1.4rem;
		padding: 0;
		margin: 0;

		p {
			padding: 0 0 0 5px;
			line-height: 1.4rem;
			margin: 0;
		}
	}

	dt {
		float: left;
	    clear: both;
	    margin-right: .25em;
	    display: inline-block;
	    list-style: none outside;
	}
}

.zoid-outlet {
	width: 100%!important;
	height: 55px;
}
